body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;   /* Google Open Sans tag */
}

.heading {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

ul {
    text-align: right;
    margin-top: -50px;
 } 

li {
    display: inline;
    list-style-type: none;   /* Got rid of bullet points */
}

li a {
    font-weight: 800;
    color: #69696a;
    padding: 8px;
    text-decoration: none;   /* Rid of underline */
} 

.chirpus_Line {
    font-weight: 700;
    font-size: 30px;
    width: 90%;
    color: #000;
    margin-top: 38px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.latin_Line {
    font-weight: 600;
    font-size: 16px;
    width: 90%;
    color: #69696a;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-left: 3px solid #bdbdc0;  /* For border left line in description */
    margin-left: 20px;
}

button {
    font-weight: 400;
    font-size: 14px;
    color: #f9fafc;
    background-color: #000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin: 32px;
}

#scroll_button {
    font-weight: 350;
    margin-top: 10px;
    margin-left: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.circle1 {
    position: relative;
    background:rgba(247, 136, 167, 0.6);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    top: -100px;
    left: 1000px;
}

.circle2 {
    position: absolute;
    background: rgba(207, 130, 213, 0.6);
    border-radius: 100%;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 40px;
    overflow: hidden;
}

.circle3 {
    position: relative;
    background: rgba(247, 193, 162, 0.7);
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 200px;
    top: 150px;
    overflow: hidden;
}