body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    font-weight: 400;
    font-size: 15px;
    padding-top: 25px;
    padding-left: 10px;
}

.chirpus_Line {
    font-size: 35px;
    font-weight: 700;
    width: 90%;
    margin-top: 38px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #000;
}

.latin_Line {
    font-weight: 600;
    font-size: 15px;
    /* width: 90%; */
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    color: #69696a;
    border-left: 3px solid #bdbdc0;
}

button {
    width: auto;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    height: 55px;
    margin: 32px;
    color: #f9fafc;
    background-color: #000;
}

#prev-button {
    margin-top: 230px;
    margin-left: 500px;
    
}

ul {
    text-align: center;
    margin-top: -50px;
    margin-right: -500px;
 } 

li {
    list-style-type: none;
    display: inline;
}

li a {
    font-weight: 400;
    text-decoration: none;
    color: #69696a;
    padding: 10px;

}  

.circle1 {
    /* width: 200px;
    height: 200px;
    background: red;
    position: relative;
    top: 40px; */
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(247, 136, 167, 0.6);
    position: relative;
    left: 800px;
    bottom: 500px;
    overflow: hidden;
}
/* .circle2 {
    width: 250px;
    height: 250px;
    background: navy;
    border-radius: 50%;
    position: absolute;
    right: -500px;
    bottom: 50px;
    overflow: hidden;
} */

/* #top-left {
    width: 150px;
    height: 150px;
    background: purple;
    position: relative;
    left: -25px;
} */